@charset "UTF-8";

*{
    margin: 1px;
    padding: 0px;
}

main{
    max-width: 80vw;
    margin: auto;
}

header, footer{
    background-color:black ;
}

header{
    border-radius: 10px 10px 0px 0px;
}

header, footer > p{
    color: white;
    text-align: center;
}

h1{
    padding: 30px 0px 10px 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 8vw;
    font-weight: bolder;
    color: white;
}

header > p{
    padding-bottom: 20px;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

section > p{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    padding: 5vw 3vw;
}

div.flower{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment:fixed;
    padding:  15vw 3vw;
}

div.flower > p {
    background-color: rgba(0, 0, 0, 0.525);
    border-radius: 10px;
    width: 40vw;
    font-size:3vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    color: white;
    padding: 15px 0px;
}

div.book{
    background: black url(imagens/background002.jpg) right center  no-repeat fixed;
    background-size: cover;
    padding: 15vw 3vw;
}

div.book > p{   
    background-color: rgba(0, 0, 0, 0.525);
    width: 40vw;
    color: white;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    border-radius: 10px;
    padding: 15px 0px;
}

footer{
    border-radius: 0px 0px 10px 10px;
    height: 30px;
}

footer > p{
    padding: 5px 0px;
}